# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
*.env

# Logs and databases
*.log
*.sqlite3
users_data.json

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / cache directories
*.egg-info/
.eggs/

data/